<%= form_with(model: borrowed_book, local: true) do |form| %>
  <% if borrowed_book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(borrowed_book.errors.count, "error") %> prohibited this borrowed_book from being saved:</h2>

      <ul>
      <% borrowed_book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :book_id %>
    <%= form.text_field :book_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :returning_at %>
    <%= form.datetime_select :returning_at %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
